cli-config.php
.phpunit.result.cache
.php-cs-fixer.cache

test-reports
.settings/
doc/config/phpdoc.ini
doc/html

tests/phpunit.xml

tests/vendor/jackrabbit-standalone*.jar
tests/vendor/jackrabbit

/jackrabbit/
/bin/jackrabbit-standalone-*.jar
/bin/jackrabbit/

vendor/
composer.lock
