src/autoload.php
cli-config.php

test-reports
.buildpath
.project
.buildpath
.idea
.settings/
cscope.out
doc/config/phpdoc.ini
doc/html

tests/phpunit.xml

tests/vendor/jackrabbit-standalone*.jar
tests/vendor/jackrabbit

/jackrabbit/

vendor

composer.phar
composer.lock